body {
  background-image: url('blackjack.jpg');
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.styleforbtn {

}

h1 {
  color: yellow;
}

h2 {
  color: antiquewhite;
}

.mainpart {
  display: grid;
  align-items: center;
  justify-items: center;
}

.btn {

  font-size: x-large;
}