body {
  background-color:black;
  background-image: url('background-roller.jpg');

}

h2 {
  display: grid;
  place-content: center;
  background-color: blanchedalmond;
  margin: 0px 0px 0px 0px;

  /* visibility: hidden; */
}

h1 {
  display: grid;
  place-content: center;
  background-color:darkseagreen;
  margin: 0px 0px 0px 0px;
}

.rollbtn {
  display: grid;
  grid-area:auto;
  justify-content:flex-end;
  align-items:flex-end;
}

.sizeofbtn {
  font-size:xx-large;
}