/* .apple{
  display: grid;

  background-color: darkred;
  margin: 25px 25px 25px 25px;
  padding: 25px 25px 25px 25px;

}

.orange{
  display: grid;

  background-color: orange;
  margin: 25px 25px 25px 25px;
  padding: 25px 25px 25px 25px;
} */

body {
  margin: 0;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-width: 100px;
}

button{
  background-color: green;
  color: white;
  padding: 7px;
  border: none;
  font-weight: bold;

}

input {
  width: 600px; /* 100% + 10px + 10px */
  padding: 10px;
  /* box-sizing: border-box; */
  /* border-radius: 10px; */
  border:2px solid green;
  border-color: green;
  margin-bottom: 10px;
  margin-top: 10px;
}

div {
  background-color: green;
  color:white;
  margin: 30px;
}

h3 {
padding-left: 0px;}

ul{
  list-style: none;
}

li {
margin-top: 5px;
}

li a {
color: green;
font-weight:lighter;
}

a {
  color: black;
}